#home{
    
    .agenda{
        width: 80%;
        padding: 16px;
        background: $primary;
        font-size: 18px;
        border:1px solid white;
        color:$secondary;
       

    }
    
}